* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



header {

    height: 40px;
    background-color: #add8e6;

}

nav {
    width: 800px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #dca61f;
    margin: 0 auto;
}

.logo {
    width: 200px;
    border: 1px dotted black;
    display: inline-block;
}

.link {
    width: 300px;
    border: 1px dotted black;
    display: inline-block;
}

.login {
    width: 200px;
    border: 1px dotted black;
    display: inline-block;
}

.container {
    width: 800px;
    margin: 0 auto;
}

main>section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-azure {
    background-color: azure;
}