* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



header {

    height: 40px;
    background-color: #add8e6;

}

nav {
    width: 800px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #dca61f;
    margin: 0 auto;
}

.logo {
    width: 200px;
    border: 1px dotted black;
    display: inline-block;
}

.link {
    width: 300px;
    border: 1px dotted black;
    display: inline-block;
}

.login {
    width: 200px;
    border: 1px dotted black;
    display: inline-block;
}

.container {
    width: 800px;
    margin: 0 auto;
}

main>section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* impostazioni della grandezza dei background delle section bianco-grige */

section {
    height: 500px;
    padding: 60px;
}

/* impostazioni della grandezza dei background delle section bianco-grige */

.bg-azure {
    background-color: azure;
}

.bg-white {
    background-color: white;
}

/*sezione primo quadrante rosa dentro blu  */

.bg-blue {
    background-color: #00008b;
    height: 600px;
    padding: 60px;

}

.container-pink {
    background-color: #ee82ee;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

/* sezione sezione primo quadrante rosa dentro blu*/

.container {
    display: flex;
}

/* impostazioni quadrato blu e rettangolo rosa */
.blue-square {

    height: 400px;
    width: 70%;
    background-color: #1e90ff;
}

.pink-rectangle {

    height: 400px;
    width: 30%;
    background-color: ;
    background-color: #ffc0cb;
}

/* impostazioni quadrato blu e rettangolo rosa */

.container-green {
    background-color: #228b22;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.bg-gray {
    background-color: gray;
}

.bg-black {
    background-color: black;
}



/* DA RIMUOVERE DOPO SVILUPPO */
.debug main section .row {
    height: 300px;
    background-color: blueviolet;
}